clientws/src/main/java/mypackage/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionEuroToDH">
<part name="parameters" element="tns:ConversionEuroToDH"/>
</message>
<message name="ConversionEuroToDHResponse">
<part name="parameters" element="tns:ConversionEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="compteList">
<part name="parameters" element="tns:compteList"/>
</message>
<message name="compteListResponse">
<part name="parameters" element="tns:compteListResponse"/>
</message>
<portType name="serviceBanque">
<operation name="ConversionEuroToDH">
<input wsam:Action="http://ws/serviceBanque/ConversionEuroToDHRequest" message="tns:ConversionEuroToDH"/>
<output wsam:Action="http://ws/serviceBanque/ConversionEuroToDHResponse" message="tns:ConversionEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/serviceBanque/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/serviceBanque/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="compteList">
<input wsam:Action="http://ws/serviceBanque/compteListRequest" message="tns:compteList"/>
<output wsam:Action="http://ws/serviceBanque/compteListResponse" message="tns:compteListResponse"/>
</operation>
</portType>
<binding name="serviceBanquePortBinding" type="tns:serviceBanque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compteList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="serviceBanquePort" binding="tns:serviceBanquePortBinding">
<soap:address location="http://localhost:8084/"/>
</port>
</service>
</definitions>